.DS_Store
backend/node_modules/
client/node_modules/
node_modules/

server/uploads/

# Client
client/plugins/
client/dist/
client/public/data/
client/node_modules/
client/src/locales/
client/public/plugins/

# Backend
backend/plugins/
backend/datagen/
backend/uploads/

# Docs
documentation/docs/.vuepress/.cache
documentation/docs/.vuepress/.temp

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
