/* color palette from <https://github.com/vuejs/theme> */
@import 'fonts.css';

:root {
  --c-white: #ffffff;
  --c-white-semisoft: #fcfcfc;
  --c-white-soft: #f8f8f8;
  --c-white-softer: #f2f2f2;
  --c-white-softest: #dfdfdf;
  --c-white-mute: #e2e2e2;
  --c-white-muter: #c4c4c4;

  --c-white-blurred: #f8f8f8cc;

  --c-blacker: #1a1a1a;
  --c-black: #181818;
  --c-black-semisoft:1 #1d1d1d;
  --c-black-soft: #222222;
  --c-black-softer: #282828;
  --c-black-softest: #3a3a3a;
  --c-black-mute: #383838;
  --c-black-muter: #585858;

  --c-black-icon-background: #000;
  --c-white-icon-background: #fff;
  --c-white-border: #a5a5a533;
  --c-black-border: #a5a5a533;


  --c-black-blurred: #222222;

  --c-indigo: #2c3e50;


  --c-text-light-1: var(--c-indigo);
  --c-text-light-2: rgba(60, 60, 60, 0.66);
  --c-text-dark-1: var(--c-white);
  --c-text-dark-2: rgba(235, 235, 235, 0.89);

  --c-text-red: #fc8787;
  --c-text-green: #87fca4;
  --c-text-detail: #858585;
  
  --c-blue: #82bcff;

  --c-button-red: #d64b4b;
  --c-button-red-hover: #f15050;
  --c-button-green: rgb(92, 148, 96);
  --c-button-green-hover: rgb(110, 177, 116);

  --c-gradient-col-1: #034159;
  --c-gradient-col-2: #02735E;
  --c-gradient-col-3: #0CF25D;

  --c-golden-border: #AA9E89aa;
}

/* semantic color variables for this project */
:root {
  --color-golden-border: var(--c-golden-border);
  --window-background: var(--c-white-blurred);

  --color-background: var(--c-white);
  --color-background-semisoft: var(--c-white-semisoft);
  --color-background-soft: var(--c-white-soft);
  --color-background-softer: var(--c-white-softer);
  --color-background-softest: var(--c-white-softest);
  --color-button-active: var(--c-white-muter);

  --text-disabled: #7e7e7e;

  --color-scrollbar: var(--c-white-muter);

  --color-hover: var(--c-white-mute);
  --icon-background: var(--c-white-icon-background);

  --color-heading: var(--c-text-light-1);
  --color-text: var(--c-text-light-1);
  --separator: var(--c-black-mute);
  --chat-background: var(--c-white);

  --color-border: var(--c-white-border);

  --section-gap: 160px;
  --separator-color: #2e2e2e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --window-background: var(--c-black-blurred);

    --color-handler: #181818;
    --color-background: var(--c-black);
    --color-background-semisoft: var(--c-black-semisoft);
    --color-background-soft: var(--c-black-soft);
    --color-background-softer: var(--c-black-softer);
    --color-background-softest: var(--c-black-softest);

    --color-button-active: var(--c-black-muter);

    --color-scrollbar: var(--c-black-muter);
    --color-hover: var(--c-black-mute);
    --icon-background: var(--c-black-icon-background);

    --color-heading: var(--c-text-dark-1);
    --color-text: var(--c-text-dark-2);
    --separator: var(--c-white-mute);

    --chat-background: var(--c-blacker);

    --color-border: var(--c-black-border);
    --text-disabled: #7e7e7e;

    --color-chat-other: #1d1d1d;
    --color-roll-dice-chat: #665750;
    --separator-color: #363636;

    /* --color-hover: var() */
  }
}

h1 {
  font-size: 42px;
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


*::-webkit-scrollbar
{
	width: 6px;
  height: 6px;
	background-color: var(--color-background);
  border-radius: 10px;
}


*::-webkit-scrollbar-thumb
{
	background-color: var(--color-scrollbar);
  border-radius: 10px;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  /* transition:
    color 0.5s,
    background-color 0.5s; */
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
