@import './base.css';

#app {
  width: 100%;
  height: 100%;

  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

* {
  font-family: BookInsanityRemake;
}

a {
  text-decoration: none;
  color: rgb(0, 135, 189);
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    padding: 0 0;
    display: flex;
    flex-direction: row;
    width: inherit;
  }
}

.icon {
  @media (prefers-color-scheme: dark) {
    filter: invert(0.8);
  }
}

.icon-add-margin {
  width: 16px;
  height: 16px;
  margin: 4.25px;
}

.user-icon {
  border: solid 1px var(--color-border);
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
}

.buttons-row {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-row {
  margin-left: 5px;
  margin-right: 5px;
  flex-grow: 1;
}

.btn-green {
  background-color: var(--c-button-green);
}
.btn-green:hover {
  background-color: var(--c-button-green-hover);
}

.btn-red {
  background-color: var(--c-button-red);
}
.btn-red:hover {
  background-color: var(--c-button-red-hover);
}

.form-field {
  padding-bottom: 10px;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: left;
}

hr {
  border: 0;
  height: 1px;
  width: 30%;
  overflow: visible;
  position: relative;
  margin: 16px auto 16px auto;
  background-color: var(--separator);
}

hr:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--separator);
  position: absolute;
  transform: rotate(45deg);
  top: -2.5px;
  left: 50%;
  margin: -1px 0 0 -1px;
}


input[type=text], input[type=password], input[type=email] {
  background-color: var(--color-background-softer);
  border: none;
  padding: 8px;
  border-radius: 6px;
  color: var(--color-text);
  transition: 300ms background-color;
  border: solid 1px var(--color-border);
}


textarea {
  background-color: var(--color-background-softer);
  padding: 12px;
  color: var(--color-text);
  border: none;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  outline: none;
  background-color: var(--color-background-softest);
}

textarea:focus {
  outline: none;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  
  padding: 14px;
  font-size: 15px;
  border-radius: 6px;
  outline: none;
  
  border: solid 1px var(--color-border);
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.25);

  transition: 300ms background-color;
  background-color: var(--color-background-softer);
  color: var(--color-text);
}

button:hover {
  background-color: var(--color-background-softest);
}

button:active {
  background-color: var(--color-background);
}

.render-image {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.confirm-form-button {
  margin-top: 15px;
}

.parameters {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.param-element {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.param-text {
  margin-right: auto;
}

.param-value {
  margin-left: auto;
}

.centered {
  text-align: center;
}

.window-wrapper {
  display: flex;
  align-items: center;
  border: solid 1px var(--color-border);
  
  /* opacity: 0; */

  user-select: none;
  -webkit-box-shadow: 0px 0px 10px -2px var(--shadow-color);
  -moz-box-shadow: 0px 0px 10px -2px var(--shadow-color);
  box-shadow: 0px 0px 10px -2px var(--shadow-color);
}

.document {
  text-align: left;
  width: 100%;
}

.document.centered {
  text-align: center;
  justify-content: center;
}

.document.item {
  text-align: center;
  width: 220px;
}

.document.item img {
  width: 64px;
  height: 64px;
}


.document h1 {
  font-weight: normal;
  font-size: 32px;
}

.document b {
  font-weight: bold;
}

.text-icon {
  height: 18px;
  width: 18px;
  margin-bottom: -4px;
}

.invert {
  filter: invert(0.9);
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
}


span.important {
  font-family: NodestoCapsCondensed;
  font-size: 24px;
  line-height: 32px;
}

span.common {
  color: var(--color-common);
}
span.uncommon {
  color: var(--color-uncommon);
}
span.rare {
  color: var(--color-rare);
}
span.very-rare {
  color: var(--color-very-rare);
}
span.legendary {
  color: var(--color-legendary);
}
span.artifact {
  color: var(--color-artifact);
}

.form-container {
  width: 100%;
}

.form-element {
  padding: 10px 0 10px 0;
  margin: 0 10px 0 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed var(--color-border);
}

.form-element label {
  flex-grow: 0;
  margin-right: 6px;
  margin-left: 6px;
}

.form-element.centered {
  justify-content: center;
}

.grow {
  flex-grow: 1;
}


.subsection.border:first-child {
  border-left: none;
}

.subsection.border {
  border-left: 1px solid var(--color-border);
}

.subsection {
  margin-left: 5px;
  margin-right: 5px;
  height: 32px;
  display: flex;
  align-items: left;
  justify-content: left;
}

.subsection.left {
  align-items: left;
  justify-content: left;

}

.subsection.right {
  align-items: right;
  justify-content: right;

}

.subsection.center {
  align-items: center;
  justify-content: center; 
}